/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  /* fonts */
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;

  /* colors */
  --softRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --Dark: hsl(167, 40%, 24%);
  /* (photography text) */
  --DarkBlue: hsl(198, 62%, 26%);
  /*  (footer) */
  --DarkModerateCyan: hsl(168, 34%, 41%);

  /* Neutral */

  --VeryDarkblue: hsl(212, 27%, 19%);
  --VeryDarkGrayishBlue: hsl(213, 9%, 39%);
  --DarkGrayishBlue: hsl(232, 10%, 55%);
  --GrayishBlue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

body.scroll-disabled {
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}

.hero {
  margin-top: -50px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  position: relative;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  color: var(--White);
  z-index: 999;
}
header .left {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 20px;
}
header .left > a {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

header .right {
  margin-right: 10px;
}

nav * {
  transition: all 0.3s ease;
}
.nav > ul {
  font-family: var(--barlow);
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav {
  width: 100%;
  height: 100%;
  min-width: fit-content;
}
.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
}
.menu li {
  display: inline-block;
  background-color: transparent;
}
.menu li > a {
  color: var(--VeryDarkGrayishBlue);
}
.menu li a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
}
.menu li:hover a,
.menu li:focus a {
  background-color: var(--Yellow);
  font-family: var(--fraunces);
  text-transform: uppercase;
  color: black;
}

.nav {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  background-color: var(--White);
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.nav::before {
  content: "";
  background-color: var(--White);
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100%);
  height: 0;
  border-left: 0px solid var(--White);
  border-top: 20px solid rgb(62, 191, 255);
  border-right: 20px solid var(--White);
  border-bottom: 20px solid var(--White);
}

#mobile-menu {
  display: none;
}

#mobile-menu:checked ~ .nav {
  max-height: 360px;
}

div.hero-components {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-image {
  width: 100%;
  height: auto;
}
.hero-text {
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--fraunces);
  color: var(--White);
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 1vh;
}
#arrow-down {
  display: flex;
  position: absolute;
  bottom: 25%;
}

.cta-grid {
  display: grid;
}
.cta-grid picture img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transform-text,
.stand-out-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.inner-transform--text-wrapper,
.inner-stand-out--text-wrapper {
  padding: 2rem;
}
.inner-transform--text-wrapper > h3,
.inner-stand-out--text-wrapper > h3 {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 2rem;
}
.inner-transform--text-wrapper > p,
.inner-stand-out--text-wrapper > p {
  font-family: var(--barlow);
  padding: 1rem 0;
  font-size: 1rem;
}
.inner-transform--text-wrapper > a,
.inner-stand-out--text-wrapper > a {
  display: inline-block;
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.inner-transform--text-wrapper > a::before,
.inner-stand-out--text-wrapper > a::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 50%;
  bottom: 0;
  left: -5%;
  background-color: transparent;
  z-index: -1;
  opacity: 0.5;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.inner-transform--text-wrapper > a:hover::before {
  background-color: var(--Yellow);
}
.inner-stand-out--text-wrapper > a:hover::before {
  background-color: var(--softRed);
}

.transform {
  order: -2;
}

.graphic-design,
.photo {
  position: relative;
  margin: 0;
  padding: 0;
}

.graphic-design {
  color: var(--Dark);
}
.photo {
  color: var(--DarkBlue);
}

.graphic-design-text,
.photo-text {
  position: absolute;
  width: 90%;
  top: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graphic-design-text > h4,
.photo-text > h4 {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 2rem;
}

.graphic-design-text > p,
.photo-text > p {
  font-family: var(--barlow);
  padding-top: 5%;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-title {
  font-family: var(--fraunces);
  text-transform: uppercase;
  letter-spacing: 0.5vh;
  color: var(--GrayishBlue);
  padding: 2rem 0;
}

.first--testimonial,
.second--testimonial,
.third--testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem;
}

.first--testimonial > img,
.second--testimonial > img,
.third--testimonial > img {
  border-radius: 9999px;
  transform: scale(70%);
}
.comment--testimonial {
  font-family: var(--barlow);
  padding-bottom: 1rem;
  text-align: center;
}
.client-name--testimonial {
  font-family: var(--fraunces);
  font-weight: 900;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}
.client-work-title--testimonial {
  font-family: var(--barlow);
  color: var(--GrayishBlue);
}
.bottom-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer {
  background-color: var(--DarkModerateCyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Dark);
  fill: var(--Dark);
  padding: 3rem 0;
}
.footer * {
  transition: color 0.3s ease-in-out;
}

.footer-title {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 1.25rem;
}
.footer-title > a:hover {
  color: var(--White);
}
.footer-text {
  font-family: var(--barlow);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.footer-text > a:hover {
  color: var(--White);
}

.footer > .social-links {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.social-links > a > svg {
  transition: fill 0.3s ease-in-out;
}

.social-links > a:hover svg {
  cursor: pointer;
  fill: var(--White);
}

@media (min-width: 480px) {
  header {
    width: 100%;
  }
  header .left {
    margin-left: 10px;
  }
  header .right {
    margin-right: 10px;
  }
  .ham {
    display: none;
  }
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    background-color: transparent;
  }
  .nav::before {
    display: none;
  }
  .menu a:hover {
    background-color: transparent;
    /* color: var(--gray); */
  }
  .menu {
    display: flex;
    flex-direction: row;
  }
  .menu li > a {
    color: var(--White);
  }
  .menu li:hover a,
  .menu li:focus a{
    background-color: var(--White);
  }
  .hero-text {
    font-size: 2.5rem;
  }
  #arrow-down {
    display: none;
  }

  .cta-grid picture img {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .hero-text {
    font-size: 3rem;
  }
  #arrow-down {
    display: flex;
    bottom: 25%;
  }
  .cta-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .transform-text,
  .stand-out-text {
    padding: 0;
  }
  .transform {
    order: 0;
  }
  .cta-grid picture img {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .graphic-design-text > h4,
  .photo-text > h4 {
    font-size: 2rem;
  }
  .testimonial-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-bottom: 2rem;
  }
  .bottom-banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (min-width: 1440px) {
  .inner-transform--text-wrapper > h3,
  .inner-stand-out--text-wrapper > h3 {
    font-size: 3rem;
  }
  .inner-transform--text-wrapper > p,
  .inner-stand-out--text-wrapper > p {
    font-size: 1.25rem;
  }
  .graphic-design-text > h4,
  .photo-text > h4 {
    font-size: 3rem;
  }
  .graphic-design-text > p,
  .photo-text > p {
    font-size: 1.25rem;
  }
  .inner-transform--text-wrapper > a,
  .inner-stand-out--text-wrapper > a {
    font-size: 1.5rem;
  }
}
